{% extends 'base.html.twig' %}

{% block body %}
    {% if blogs is null %}
        <p>Blog not found.</p>
    {% else %}
        <h1>{{ blogs.title }}</h1>
        <p>{{ blogs.description }}</p>
        <p>{{ blogs.content }}</p>
    {% endif %}
{% endblock %}
